<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ApplicationId" value="__application_id__" />
  <add key="AgencyId" value="__agency_id__" />
  <add key="TCSSingleServiceUrl" value="https://qa.tcs.pay.gov/tcscollections/services/TCSSingleService"/>
  <add key="CertificatePath" value="__cert.pfx__" />
  <add key="CertificatePassword" value="__cert_password__" />
</appSettings>